<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 自动映射 所有 所有 所有！ 包含嵌套映射  -->
		<setting name="autoMappingBehavior" value="FULL"/>
	</settings>

	<typeAliases>
		<!-- <typeAlias type="cn.mybatis.entity.Users" alias="Users"/> -->
		<!-- 扫描实体包 生产 别名 等于类名  -->
		<package name="cn.hotel.entity"/>
	</typeAliases>

</configuration>
